.cart {
    background: #fff;
    position: relative;
    margin-bottom: 100px;
    width: 100%;
}

.cart-indicator {
    margin-bottom: 20px;
    text-align: right;
    padding-right: 10%;
}

/* individual items */

.cart-item {
    margin-bottom: 20px;
}

.cart-item-total {
    font-weight: bold;
}

.umbrella-sm {
    margin: 0px auto;
    display: block;
    max-width: 40%;
}

.remove-cart {
    background-color: #f76262;
    color: #fff;
}

@media (max-width: 778px) {
    .umbrella-sm {
        margin: 0px;
    }
}