.products-container {}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 0 0 90px;
    height: 500px;
    margin: 5px;
    width: 400px;
}

.product-item {
    background-color: #fff;
    box-shadow: 2px 2px 3px #E1E1DE;
    border-radius: 10px;
    padding: 20px;
}

.product-price {
    font-weight: bold;
}

.umbrella-lg {
    margin: 0px auto;
    margin-bottom: 20px;
    display: block;
    max-width: 80%;
}